#mapid { height: 770px; }

body {
	margin: 0;
}

p {
	font-family: PT Sans, Arial;
	font-size: 14px;
}

h1 {
	font-family: PT Sans, Arial;
	font-weight: bold;
	margin-bottom: 0;
}

.leaflet-popup-content-wrapper {
	background-color:rgba(255,0,0,0.8);
}

#key {
	position: absolute;
    	top: 691px;
    	left: 10px;
    	z-index: 9000;
	height: 70px;
	width: 260px;
	background-image:url(key.png);
	background-repeat: no-repeat;
border-radius: 5px;
  -webkit-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
  -moz-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
  box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
}

#logo {
		position: absolute;
	    	top: 722px;
	    	right: 7px;
	    	z-index: 9000;
		height: 30px;
		width: 30px;
		background-image:url(logo.png);
		background-repeat: no-repeat;
}
